extends ./templates/default

block head
  link(rel="stylesheet" href="/stylesheets/root.css")
  script(src="https://cdn.jsdelivr.net/npm/chart.js")
  script.
    const sensorData = !{JSON.stringify(sensorData)}

mixin sensorGraphic(dataKey, dataTitle)
  canvas(width="280" height="200" data-key=dataKey data-title=dataTitle)

mixin sensorInformation(key, title, unitMeasurement)
  -
    const data = sensorData[`${key}Data`];
    const lastData = data[data.length - 1];
  div(data-key=key).sensorInformation
    .header
      .sensorName
        span=title
        span :
      .value=lastData ? lastData.value : "-"
      span=unitMeasurement
    .update
      span Última atualização:
      span=lastData ? lastData.timestamp.toISOString().split("T").map((d, i) => i === 0 ? d.split("-").reverse().join("/") : d.split(".")[0]).join(" ") : "-"
    .graphic
      +sensorGraphic(key, title)

block content
  main
    h2 Acompanhe o seu ambiente de forma simples
    div.two-data
      +sensorInformation("temperature", "Temperatura", "ºC")
      +sensorInformation("humidity", "Umidade", "%")
    div.two-data
      +sensorInformation("qOA", "Qualidade do ar", "%")
      +sensorInformation("smoke", "Presença de fumaça", "%")
    div
      +sensorInformation("rain", "Chuva")
    a(href="/notify" class="button") Receber notificação do monitoramento do ambiente

    script(src="/scripts/root.js")

